* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    color: #ededed;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo{
    position: relative;
    font-size: 40px;
    color: #00afb0;
    text-decoration: none;
    font-weight: 700;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #010A16;
    animation: showright 1s ease forwards;
    animation-delay: .4s;
}

.navbar{
    display: flex;
    padding: 0 1.5rem;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: transparent;
    animation: showright 1s ease forwards;
    animation-delay: 3s; */
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 1s;
}
.navbar a:hover,
.navbar a.active {
    color: #00afb0;
}

.home{
    height: 100vh;
    background-color: #010A16;
    /* background: url('home.jpg') no-repeat;
    background-size: cover;
    background-position: center; */
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #010A16;
    animation: showright 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00afb0;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #010A16;
    animation: showright 1s ease forwards;
    animation-delay: 1.4s;
}

.home-content p {
    position: relative;
    font-size: 18px;
}

.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #010A16;
    animation: showright 1s ease forwards;
    animation-delay: 1.8s;
}

.home-content .btn-box{
    position: relative;
    width: 345px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #010A16;
    animation: showright 1s ease forwards;
    animation-delay: 2.2s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00afb0;
    border: 2px solid #00afb0;
    border-radius: 8px;
    font-size: 19px;
    color: #010A16;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:nth-child(2){
    background: transparent; 
    color: #00afb0;
}

.btn-box a:nth-child(2)::before{
    background-color: #00afb0;
    color: #010A16;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
}

.btn-box a:nth-child(2):hover{
    color: #010A16;
}
.btn-box a:nth-child(1):hover{
    color: #00afb0;
}

.btn-box a:nth-child(1):before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: #010A16;
    transition: .5s;

}

.btn-box a:hover::before {
    width: 100%;
} 

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 176px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #010A16;
    animation: showright 1s ease forwards;
    animation-delay: 2.6s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    border: 2px solid #00afb0;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    color: #00afb0;
    font-size: 20px;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    opacity: 30%;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: #00afb0;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

.home-sci a:hover{
    color: #010A16;
    opacity: 100% ;
}

.img{
    position: fixed;
    top: 0;
    right: 0;
    width: 700px;
    height: 100%;
    border: 2px transparent;
    transition: 3s;
    animation: activehover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.img:hover{
    background: #010A16;
    opacity: 0.8;
}

.img::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #010A16;
    animation: showright 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

/* section.img{
    position:absolute;
    left: 0;
    border: 2px transparent;
    transition: 3s;
    animation: activehover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

section.img:hover{
    background: #010A16;
    opacity: 0.8;
} */

@keyframes showright {
    100%{
        width: 0;
    }

}

@keyframes activehover{
    100%{
        pointer-events: auto;
    }
}